<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div id="main-header-left">
    <h1>UNEARTHED</h1>
  </div>
  <div id="main-header-center">
      <ul>
        <li>
          <p><a href="/category">BRACELETS</a></p>
        </li>
        <li>
          <p><a href="/category">RINGS</a></p>
        </li>
        <li>
          <p><a href="/category">STONES</a></p>
        </li>
        <li>
          <p><a href="/category">NECKLACES</a></p>
        </li>
      </ul>
  </div>
  <div id="main-header-right">
    <h1>PURCHASE</h1>
  </div>
</nav>
<div id="myCarousel" class="carousel slide">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <!-- Carousel items -->
  <div class="carousel-inner">
    <div class="active item" id="carousel1">
      <div class="main-info-box1">
        <h1>DZI BEAD BRACELETS</h1>
        <hr>
        <p>
        The elegant design of these bracelets is unmatched this side of India. The elegant design of these bracelets is unmatched this side of India. The elegant design of these bracelets is unmatched this side of India. The elegant design of these bracelets is unmatched this side of India. The elegant design of these bracelets is unmatched this side of India. The elegant design of these bracelets is unmatched this side of India.
        </p>
      </div>
      <img src="images/homepage.png" id="main-carousel1"/>
    </div>
    <div class="item carousel2">
    <div class="main-info-box1">
        <h1>DZI Bead Bracelets</h1>
        <hr>
        <p>
        The elegant design of these bracelets is unmatched this side of India. The elegant design of these bracelets is unmatched this side of India. The elegant design of these bracelets is unmatched this side of India. The elegant design of these bracelets is unmatched this side of India. The elegant design of these bracelets is unmatched this side of India. The elegant design of these bracelets is unmatched this side of India.
        </p>
      </div>
      <img src="images/homepage.png" id="main-carousel1"/>
    </div>
    <div class="item carousel3">
    <div class="main-info-box1">
        <h1>DZI Bead Bracelets</h1>
        <hr>
        <p>
        The elegant design of these bracelets is unmatched this side of India. The elegant design of these bracelets is unmatched this side of India. The elegant design of these bracelets is unmatched this side of India. The elegant design of these bracelets is unmatched this side of India. The elegant design of these bracelets is unmatched this side of India. The elegant design of these bracelets is unmatched this side of India.
        </p>
      </div>  
      <img src="images/homepage.png" id="main-carousel1"/>
    </div>
  </div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="carousel-control right" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>
<!-- End Carousel begin Lower Rows -->
<div class="main-row-one">
  <div class="row-one-left">
    <div class="text-div1">
    <h1>
      HISTORY
    </h1>
    <p>
      Lots and lots of random text about the history of something should go in this box right here. Lots and lots of random text about the history of something should go in this box right here. Lots and lots of random text about the history of something should go in this box right here. Lots and lots of random text about the history of something should go in this box right here. Lots and lots of random text about the history of something should go in this box right here. 
    </p>
    </div>
  </div><!--
  --><div class="row-one-right">

  </div>
</div>
  <div class="main-row-two">
    <div class="row-two-left">
    </div><!--
    --><div class="row-two-center">
    </div><!--
    --><div class="row-two-right">
    <div class="text-div2">
    <h1>
      QUALITY
    </h1>
    <p>
      Lots and lots of random text about the history of something should go in this box right here. Lots and lots of random text about the history of something should go in this box right here. Lots and lots of random text about the history of something should go in this box right here. Lots and lots of random text about the history of something should go in this box right here. Lots and lots of random text about the history of something should go in this box right here. Lots and lots of random text about the history of something should go in this box right here.
    </p>
    </div>
    
  </div>
  </div>
<!-- End Lower Rows, Begin Footer -->
<footer>
  <div id="main-footer-left">
    <p>801-123-4567</p>
    <p>Contact Us:</p>
    <p>support@unearthed.com</p>
  </div>
  <div id="main-footer-center">
    <h1>
      <ul>
        <li>
          <i class="fa fa-rebel"></i>
        </li>
        <li>
          <i class="fa fa-twitter"></i>
        </li>
        <li>
          <i class="fa fa-facebook-square"></i>
        </li>
        <li>
          <i class="fa fa-anchor"></i>
        </li>
      </ul>
    </h1>
  </div>
  <div id="main-footer-right">
  <br>
  <br>
    <p>Web Design by Weblifters</p>
  </div>
</footer>

 