<head>
<script src="/views/main/responsive.js"></script>
</head>
<div ng-include="'views/components/navbar/navbar.html'"></div>

<!-- Test Carousel -->

<div ng-controller="CarouselCtrl">
  <div>
    <carousel interval="myInterval">
      <slide ng-repeat="slide in slides" active="slide.active">
        <img class="main-image" src="images/homepage.png">
        <div class="main-info-box1">
          <h1>{{slide.carouselTitle}}</h1>
          <hr>
          <p>{{slide.carouselText}}</p>
        </div>
      </slide>
    </carousel>
  </div>
</div>
<div class="main-row-one">
  <div class="row-one-left">
    <div class="text-div1">
    <h1>
      HISTORY
    </h1>
    <p>
      {{history}}
    </p>
    </div>
  </div><!--
  --><div class="row-one-right">

  </div>
</div>
  <div class="main-row-two">
    <div class="row-two-left">
    </div><!--
    --><div class="row-two-center">
    </div><!--
    --><div class="row-two-right">
    <div class="text-div2">
    <h1>
      QUALITY
    </h1>
    <p>
      {{quality}}
    </p>
    </div>
    
  </div>
  </div>
  <div class="main-row-three">
  <h1>
      QUALITY
    </h1>
    <p>
      {{quality}}
    </p>
  </div>
  <div class="main-row-four">
  </div>
<!-- End Lower Rows, Begin Footer -->

<div ng-include="'views/components/footer/footer.html'"></div>
 