<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
    <li><a ng-href="#">About</a></li>
    <li><a ng-href="#">Contact</a></li>
  </ul>
  <h3 class="text-muted">unearthed</h3>
</div>

<h1>Main Page</h1>
<div>TEST</div>
<button ui-sref="main">MAIN</button>
<button ui-sref="about">ABOUT</button>
<button ui-sref="contact">CONTACT</button>
<button ui-sref="product">PRODUCT</button>
<button ui-sref="category">CATEGORY</button>


<div class="footer">
  <p><span class="glyphicon glyphicon-heart"></span> from the Yeoman team</p>
</div>
