<footer>
  <div id="main-footer-left">
    <p ui-sref="about">About</p>
    <p>801-123-4567</p>
    <p>Contact Us:</p>
    <p>support@unearthed.com</p>
  </div>
  <div id="main-footer-center">
    <h1>
      <ul>
        <li>
          <h1><a href=""><i class="fa fa-pinterest-square"></i></a></h1>
        </li>
        <li>
          <h1><a href=""><i class="fa fa-facebook-square"></i></a></h1>
        </li>
        <li>
          <h1><a href=""><i class="fa fa-twitter-square"></i></a></h1>
        </li>
        <li>
          <h1><a href=""><i class="fa fa-instagram"></i></a></h1>
        </li>
      </ul>
    </h1>
  </div>
  <div id="main-footer-right">
  <br>
  <br>
    <p>Web Design by Weblifters</p>
  </div>
</footer>