/* Space out content a bit */
body {
}
.image-sold {
  float: left;
  width: 50px;
  height: 50px;
  background-color: red;
  z-index: 3;
}
.category-item-image {
z-index: -1;
}
.top-image {
  width: 100%;
  height: 600px;
}
.category-container {
  height: 100%;
  width: 80%;
  margin: auto;
}
.category-description h1 {
  margin-top: 50px;
  text-align: center;
  font-weight: 900;
  margin-bottom: 30px;
}
.category-description p {
  text-align: center;
  margin-bottom: 50px;
}
.category-description hr {
  border-top: 1px solid #999999;
}
.image-container {
/*  margin: auto;
*/
width: 32%;
margin-left: 10%;
margin-right: 0;
float: left;
}
.cover {
  -webkit-transition: .3s linear all;
  transition:  .3s linear all;
  opacity: 1;
  z-index: 2;
}
.cover.ng-hide-remove,
.cover.ng-hide-add,.cover.ng-hide {
  display:block!important;
}
.cover.ng-hide {
  opacity: 0;
}
.category-image {
  margin: 3%;
  display: inline-block;
  position: relative;
}
.category-image img {
  height: 200px;
  width: 300px;
  display: inline-block;
}
.image-hover {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,.6);
  border: none;
  top: 0;
  left: 0;
  /*display: none;*/
}
.product-cover-name {
  color: white;
}
.product-cover-name:hover {
  color: #b2b2b2;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  /* ...and now for the proper property */
  transition:.5s;
  text-decoration: none;
}
.image-hover h2 {
  text-align: center;
  color: white;
}
.image-hover p {
  text-align: center;
  color: white;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {

}
