<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div id="main-header-left">
    <h1><a href="http://127.0.0.1:9000/">UNEARTHED</a></h1>
  </div>
  <div id="main-header-center">
      <ul>
        <li>
          <p><a href="/bracelets">BRACELETS</a></p>
        </li>
        <li>
          <p><a href="/rings">RINGS</a></p>
        </li>
        <li>
          <p><a href="/stones">STONES</a></p>
        </li>
        <li>
          <p><a href="/necklaces">NECKLACES</a></p>
        </li>
      </ul>
  </div>
  <div id="main-header-right">
    <h1>PURCHASE</h1>
  </div>
</nav>
<!-- Top Image Here -->
<div class="category-top-image">
<img clsas="top-image" src="/images/121-7.jpg"/>
</div>
<!-- End Carousel begin Lower Rows -->

<!-- End Lower Rows, Begin Footer -->
<footer>
  <div id="main-footer-left">
    <p>801-123-4567</p>
    <p>Contact Us:</p>
    <p>support@unearthed.com</p>
  </div>
  <div id="main-footer-center">
    <h1>
      <ul>
        <li>
          <h1><i class="fa fa-pinterest-square"></i></h1>
        </li>
        <li>
          <h1><i class="fa fa-facebook-square"></i></h1>
        </li>
        <li>
          <h1><i class="fa fa-twitter-square"></i></h1>
        </li>
        <li>
          <h1><i class="fa fa-instagram"></i></h1>
        </li>
      </ul>
    </h1>
  </div>
  <div id="main-footer-right">
  <br>
  <br>
    <p>Web Design by Weblifters</p>
  </div>
</footer>

 