<head>
 <script src="views/category/hover.js"></script>
</head>

<div ng-include="'views/components/navbar/navbar.html'"></div>

<!-- Top Image Here -->
<div class="category-top-image">
  <img clsas="top-image" ng-src="{{imageUrl}}"/>
</div>
<div class="category-container">
  <div class="category-description">
    <h1>
      {{title}}
    </h1>
    <p>
      {{mainCopy}}
    </p> 
    <hr>
  </div>
  <div class="image-container" ng-repeat="product in categoryList.results">
    <div class="category-image" ng-mouseenter="showCover=!product.sold" ng-mouseleave="showCover=false">
      <img class="category-item-image" ng-src="{{product.mainImage.url}}" />
      <div class="image-sold" ng-show="product.sold"> 
        <h1>Sold</h1>
      </div> 
        <div class="cover image-hover" ng-show="showCover">
          <h2>
            <a class="product-cover-name" ui-sref="product({category: product.category, id: product.objectId})">{{product.name}}</a>
          </h2>
          <p> 
            {{product.mainDescription}}
          </p> 
        </div>
    </div>
  </div> 
</div>
<!-- End Carousel begin Lower Rows -->

<!-- End Lower Rows, Begin Footer -->
<div ng-include="'views/components/footer/footer.html'"></div>
