/* Space out content a bit */
body {
}
.top-image {
  width: 100%;
  height: 600px;
}
.category-container {
  height: 100%;
  width: 80%;
  margin: auto;
}
.category-description h1 {
  margin-top: 50px;
  text-align: center;
  font-weight: 900;
  margin-bottom: 30px;
}
.category-description p {
  text-align: center;
  margin-bottom: 50px;
}
.category-description hr {
  border-top: 1px solid #999999;
}
.image-container {
  margin: auto;
}
.category-image1 {
  margin: 3%;
  display: inline-block;
  position: relative;
}
.category-image1 img {
  height: 200px;
  width: 300px;
  display: inline-block;
}
.image-hover1 {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,.6);
  border: none;
  top: 0;
  left: 0;
  display: none;
}
.image-hover1 h2 {
  text-align: center;
  color: white;
}
.image-hover1 p {
  text-align: center;
  color: white;
}
.category-image2 {
  margin: 3%;
  display: inline-block;
  position: relative;
}
.category-image2 img {
  height: 200px;
  width: 300px;
  display: inline-block;
}
.image-hover2 {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,.6);
  border: none;
  top: 0;
  left: 0;
  display: none;
}
.image-hover2 h2 {
  text-align: center;
  color: white;
}
.image-hover2 p {
  text-align: center;
  color: white;
}

.category-image3 {
  margin: 3%;
  display: inline-block;
  position: relative;
}
.category-image3 img {
  height: 200px;
  width: 300px;
  display: inline-block;
}
.image-hover3 {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,.6);
  border: none;
  top: 0;
  left: 0;
  display: none;
}
.image-hover3 h2 {
  text-align: center;
  color: white;
}
.image-hover3 p {
  text-align: center;
  color: white;
}
.category-image4 {
  margin: 3%;
  display: inline-block;
  position: relative;
}
.category-image4 img {
  height: 200px;
  width: 300px;
  display: inline-block;
}
.image-hover4 {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,.6);
  border: none;
  top: 0;
  left: 0;
  display: none;
}
.image-hover4 h2 {
  text-align: center;
  color: white;
}
.image-hover4 p {
  text-align: center;
  color: white;
}
.category-image5 {
  margin: 3%;
  display: inline-block;
  position: relative;
}
.category-image5 img {
  height: 200px;
  width: 300px;
  display: inline-block;
}
.image-hover5 {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,.6);
  border: none;
  top: 0;
  left: 0;
  display: none;
}
.image-hover5 h2 {
  text-align: center;
  color: white;
}
.image-hover5 p {
  text-align: center;
  color: white;
}
.category-image6 {
  margin: 3%;
  display: inline-block;
  position: relative;
}
.category-image6 img {
  height: 200px;
  width: 300px;
  display: inline-block;
}
.image-hover6 {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,.6);
  border: none;
  top: 0;
  left: 0;
  display: none;
}
.image-hover6 h2 {
  text-align: center;
  color: white;
}
.image-hover6 p {
  text-align: center;
  color: white;
}
.category-image7 {
  margin: 3%;
  display: inline-block;
  position: relative;
}
.category-image7 img {
  height: 200px;
  width: 300px;
  display: inline-block;
}
.image-hover7 {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,.6);
  border: none;
  top: 0;
  left: 0;
  display: none;
}
.image-hover7 h2 {
  text-align: center;
  color: white;
}
.image-hover7 p {
  text-align: center;
  color: white;
}
.category-image8 {
  margin: 3%;
  display: inline-block;
  position: relative;
}
.category-image8 img {
  height: 200px;
  width: 300px;
  display: inline-block;
}
.image-hover8 {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,.6);
  border: none;
  top: 0;
  left: 0;
  display: none;
}
.image-hover8 h2 {
  text-align: center;
  color: white;
}
.image-hover8 p {
  text-align: center;
  color: white;
}
.category-image9 {
  margin: 3%;
  display: inline-block;
  position: relative;
}
.category-image9 img {
  height: 200px;
  width: 300px;
  display: inline-block;
}
.image-hover9 {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,.6);
  border: none;
  top: 0;
  left: 0;
  display: none;
}
.image-hover9 h2 {
  text-align: center;
  color: white;
}
.image-hover9 p {
  text-align: center;
  color: white;
}
.category-image10 {
  margin: 3%;
  display: inline-block;
  position: relative;
}
.category-image10 img {
  height: 200px;
  width: 300px;
  display: inline-block;
}
.image-hover10 {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,.6);
  border: none;
  top: 0;
  left: 0;
  display: none;
}
.image-hover10 h2 {
  text-align: center;
  color: white;
}
.image-hover10 p {
  text-align: center;
  color: white;
}
.category-image11 {
  margin: 3%;
  display: inline-block;
  position: relative;
}
.category-image11 img {
  height: 200px;
  width: 300px;
  display: inline-block;
}
.image-hover11 {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,.6);
  border: none;
  top: 0;
  left: 0;
  display: none;
}
.image-hover11 h2 {
  text-align: center;
  color: white;
}
.image-hover11 p {
  text-align: center;
  color: white;
}
.category-image12 {
  margin: 3%;
  display: inline-block;
  position: relative;
}
.category-image12 img {
  height: 200px;
  width: 300px;
  display: inline-block;
}
.image-hover12 {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,.6);
  border: none;
  top: 0;
  left: 0;
  display: none;
}
.image-hover12 h2 {
  text-align: center;
  color: white;
}
.image-hover12 p {
  text-align: center;
  color: white;
}
.category-image13 {
  margin: 3%;
  display: inline-block;
  position: relative;
}
.category-image13 img {
  height: 200px;
  width: 300px;
  display: inline-block;
}
.image-hover13 {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,.6);
  border: none;
  top: 0;
  left: 0;
  display: none;
}
.image-hover13 h2 {
  text-align: center;
  color: white;
}
.image-hover13 p {
  text-align: center;
  color: white;
}
.category-image14 {
  margin: 3%;
  display: inline-block;
  position: relative;
}
.category-image14 img {
  height: 200px;
  width: 300px;
  display: inline-block;
}
.image-hover14 {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,.6);
  border: none;
  top: 0;
  left: 0;
  display: none;
}
.image-hover14 h2 {
  text-align: center;
  color: white;
}
.image-hover14 p {
  text-align: center;
  color: white;
}
.category-image15 {
  margin: 3%;
  display: inline-block;
  position: relative;
}
.category-image15 img {
  height: 200px;
  width: 300px;
  display: inline-block;
}
.image-hover15 {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,.6);
  border: none;
  top: 0;
  left: 0;
  display: none;
}
.image-hover15 h2 {
  text-align: center;
  color: white;
}
.image-hover15 p {
  text-align: center;
  color: white;
}
.category-image16 {
  margin: 3%;
  display: inline-block;
  position: relative;
}
.category-image16 img {
  height: 200px;
  width: 300px;
  display: inline-block;
}
.image-hover16 {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,.6);
  border: none;
  top: 0;
  left: 0;
  display: none;
}
.image-hover16 h2 {
  text-align: center;
  color: white;
}
.image-hover16 p {
  text-align: center;
  color: white;
}
.category-image17 {
  margin: 3%;
  display: inline-block;
  position: relative;
}
.category-image17 img {
  height: 200px;
  width: 300px;
  display: inline-block;
}
.image-hover17 {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,.6);
  border: none;
  top: 0;
  left: 0;
  display: none;
}
.image-hover17 h2 {
  text-align: center;
  color: white;
}
.image-hover17 p {
  text-align: center;
  color: white;
}
.category-image18 {
  margin: 3%;
  display: inline-block;
  position: relative;
}
.category-image18 img {
  height: 200px;
  width: 300px;
  display: inline-block;
}
.image-hover18 {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,.6);
  border: none;
  top: 0;
  left: 0;
  display: none;
}
.image-hover18 h2 {
  text-align: center;
  color: white;
}
.image-hover18 p {
  text-align: center;
  color: white;
}
.category-image19 {
  margin: 3%;
  display: inline-block;
  position: relative;
}
.category-image19 img {
  height: 200px;
  width: 300px;
  display: inline-block;
}
.image-hover19 {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,.6);
  border: none;
  top: 0;
  left: 0;
  display: none;
}
.image-hover19 h2 {
  text-align: center;
  color: white;
}
.image-hover19 p {
  text-align: center;
  color: white;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  
}
