.image-sold {
  position: absolute;
  height: 94%;
  width: 100%;
  background-color: rgba(0,0,0,.4);
  border: none;
  top: 0px;
  left: 0px;
  z-index: 100;
}

.image-sold h1 {
  font-family: sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto 0;
  color: white;
  text-align: center;
  font-weight: 100;
  font-size: 80px;
}

.category-item-image {
  height: 100%;
  width: auto;
  z-index: -1;
}

.top-image {
  width: 100%;
}

.category-description h1 {
  margin-top: 50px;
  text-align: center;
  font-weight: 900;
  margin-bottom: 30px;
}

.category-description p {
  text-align: center;
  margin-bottom: 50px;
}

.category-description hr {
  border-top: 1px solid #999999;
}

.cover {
  -webkit-transition: .3s linear all;
  transition:  .3s linear all;
  opacity: 1;
  z-index: 10;
}
.cover.ng-hide-remove,
.cover.ng-hide-add,.cover.ng-hide {
  display:block!important;
}
.cover.ng-hide {
  opacity: 0;
}
.category-image {
  /*margin: 10px;*/
  display: inline-block;
  position: relative;
}

/*.category-image img {
  height: 100%;
  width: auto;
  display: inline-block;
}*/

.image-hover {
  position: absolute;
  height: 96%;
  width: 100%;
  background-color: rgba(0,0,0,.4);
  border: none;
  top: 0px;
  left: 0px;
  z-index: 100;
  /*display: none;*/

  /*display: none;*/
}
.product-cover-name {
  color: white;
}
.product-cover-name:hover {
  color: #b2b2b2;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  /* ...and now for the proper property */
  transition:.5s;
  text-decoration: none;
}
.image-hover h2 {
  text-align: center;
  color: white;
}
.image-hover p {
  text-align: center;
  color: white;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

p.ng-binding {
  margin-bottom: 5px;
}


/************ Responsive Grid Styles *************/



ul {
  padding: 0px;
  margin: 0px;
}
ul.rig {
  list-style: none;
  font-size: 0px;
  /*margin-left: -2.5%;*/ /* should match li left margin */
}
ul.rig li {
  display: inline-block;
  padding: 10px;
  margin: 1.25% 1.25% 1.25% 1.25%;
  padding: none;
  margin: none;
  background: #fff;
/*  border: 1px solid #ddd;*/
  font-size: 16px;
  font-size: 1rem;
  vertical-align: top;
 /* box-shadow: 0 0 5px #ddd;*/
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
ul.rig li img {
  max-width: 100%;
  height: auto;
  margin: 0 0 10px;
}
ul.rig li h3 {
  /*margin: 0 0 5px;*/
}
ul.rig li p {
  font-size: 1.5em;
  line-height: 1.5em;
  color: white;
}
/* class for 3 columns */
ul.rig.columns-3 li {
  width: 30.83%; /* this value + 2.5 should = 33% */
}

 
@media (max-width: 480px) {
  ul.grid-nav li {
    display: block;
    margin: 0 0 5px;
  }
  ul.grid-nav li a {
    display: block;
  }
  ul.rig {
    margin-left: 0;
  }
  ul.rig li {
    width: 100% !important; /* over-ride all li styles */
    /*margin: 0 0 20px;*/
  }
}


/* Responsive: Portrait tablets and up */
@media screen and (max-width: 767px) {
  .top-image {
    padding-top: 60px;
  }
}
