<div ng-include="'views/components/navbar/navbar.html'"></div>

	<div class="product-container">
		<h1 class="product-title">{{individualItem.name}}</h1>
		<h2 class="product-subtitle">{{individualItem.mainDescription}}</h2>
		<section class="product-info">
			<div class="product-images">
				<img class="product-image" ng-src="{{individualItem.mainImage.url}}"/>
				<div class="thumbnails">
					<ul>
						<li>
							<img class="thumbnail-1" src="/images/1resize.jpg"/>
						</li>
						<li>
							<img class="thumbnail-2" src="/images/4resize.jpg"/>
						</li>
						<li>
							<img class="thumbnail-3" src="/images/5resize.jpg"/>
						</li>
						<li>
							<img class="thumbnail-4" src="/images/7resize.jpg"/>
						</li>
					</ul>
				</div>
			</div>
			<!-- <div class="product-info"> -->
				<p>{{individualItem.mainDescription}}</p>
					<hr>
						<ul class="product-specs">
							<li>9 fire beads from dzi tierra</li>
							<li>2 rotunda rodas</li>
							<li>2 mini beads 18k gold</li>
							<li>1 mother pearl dzi bead</li>
						</ul>
					<hr>
				<h3 class="price">${{individualItem.price}}</h3>
				<h2>PURCHASE</h2>
			<!-- </div> -->
		</section>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
	</div>
 
<div ng-include="'views/components/footer/footer.html'"></div>
