<div ng-include="'views/components/navbar/navbar.html'"></div>
<div class="page-container">
	<div class="product-container">
		<h1 class="product-title">{{individualItem.name}}</h1>
		<h2 class="product-subtitle">{{individualItem.mainDescription}}</h2>
		<section class="product-info">
			<div class="product-images">
				<img class="product-image" ng-src="{{mainImageUrl}}"/>
			
			</div>
			<!-- <div class="product-info"> -->
				<p>{{individualItem.productInfo}}</p>
					<hr>
						<ul class="product-specs">
							<li ng-repeat="feature in individualItem.features">{{feature}}</li>
						</ul>
					<hr>

				<h3 class="price">${{individualItem.price}}</h3>

				<div ng-controller="PurchaseModalCtrl">
				  <script type="text/ng-template" id="myModalContent.html">
				      <div class="modal-header">
				          <h3 class="modal-title">Im a modal!</h3>
				      </div>
				      <div class="modal-body">
				          <ul>
				              <li ng-repeat="item in items">
				                  <a ng-click="selected.item = item">{{ item }}</a>
				              </li>
				          </ul>
				          Selected: <b>{{ selected.item }}</b>
				      </div>
				      <div class="modal-footer">
				          <button class="btn btn-primary" ng-click="ok()">OK</button>
				          <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
				      </div>
				  </script>
				  <h2 class="purchase-button" ng-click="open()">PURCHASE</h2> 
				</div>

			<!-- </div> -->
		</section>

				<div class="thumbnails">
					<ul>
						<li>
							<img class="thumbnail" ng-click="switchImage(individualItem.mainImage.url)" ng-src="{{individualItem.mainImage.url}}"/>
						</li>
						<li>
							<img class="thumbnail" ng-click="switchImage(individualItem.image1.url)" ng-src="{{individualItem.image1.url}}"/>
						</li>
						<li>
							<img class="thumbnail" ng-click="switchImage(individualItem.image2.url)" ng-src="{{individualItem.image2.url}}"/>
						</li>
						<li>
							<img class="thumbnail" ng-click="switchImage(individualItem.image3.url)" ng-src="{{individualItem.image3.url}}"/>
						</li>
						<li>
							<img class="thumbnail" ng-click="switchImage(individualItem.image4.url)" ng-src="{{individualItem.image4.url}}"/>
						</li>
					</ul>
				</div>

				
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
	</div>
 </div>
<div ng-include="'views/components/footer/footer.html'"></div>
