/* Space out content a bit */
body {
}
.my-container {
  background: url('/images/product-bg.jpg');
  background-size: 100%;
  background-repeat: none;
}
.product-container {
  background-color: #111111;
  height: 900px;
  width: 65%;
  margin: auto;
  margin-top: 0px;
}
.product-container h1 {
  color: white;
  text-align: center;
  font-weight: 900;
}
.product-container h2 {
  color: white;
  text-align: center;
  font-weight: 100;
}
.product-specs {
  padding-left: 0;
}
.product-details {
  height: 100%;
  width: 36%;
  float: right;
}
.product-container h3 {
  color: white;
}
.product-container p {
  color: white;
}
.product-container li {
  color: white;
  list-style-type: none;
}
.product-title {
  padding-top: 100px;
  margin-top: 0px;
}
.product-info {
  margin-top: 50px;
  padding-right: 4%;
  padding-left: 7%;
  width: 100%;
  height: 33%;
}
.product-images {
  float: left;
  width: 60%;
  padding: 0px;
  margin-right: 3%;
}
.thumbnails {
  float: left;
  width: 100%;
  margin-top: 3%;
}
.thumbnails li {
  margin-left: 6%;
  margin-right: 6%;
  width: 9%;
  display: inline-block;
  text-decoration: none;
  list-style-type: none;
}
.thumbnails ul {
  margin-top: 20px;
  margin-bottom: 40px;
  padding-left: 0;
}
.product-image {
  height: auto;
  width: 100%;
  display: block;
  margin: auto;
}
.thumbnail {
  height: 100%;
  width: 230%;
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
  padding: 0;
  border: none;
  cursor: pointer;
}
.price {
  text-align: center;
}
.page-container {
  background-image: url('/images/aboutBackground.jpeg');
}


/* Custom page footer */

.product-footer {
  background-color: #111111;
  font-color: white;
}
.product-footer p {
  color: white;

}
footer h1 {
  font-size: 50px;
  display: inline-block
}
footer a{
  color: #b2b2b2;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  /* ...and now for the proper property */
  transition:.5s;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .product-info {
    padding-right: 4%;
    padding-left: 4%;
  }
  .product-images {
    margin: 0;
    width: 100%;
  }
  .product-details {
    width: 100%;
    margin-top: 10%;
    height: 70%;
  }
  .thumbnails {
    margin-top: 0;
  }
  .product-container {
    float: left;
    height: 100%;
    width: 75%;
    margin-left: 12.5%;
  }
  .page-container {
    float: left;
  }
}

@media screen and (max-width: 480px) {
  .product-container {
    width: 100%;
    margin-left: 0;
    background-color: rgba(17, 17, 17, .8);
  }
  .product-info {
    padding: 0;
  }
  .product-details {
    padding-right: 3%;
    padding-left: 3%;
  }
  .thumbnails {
    margin-top: 30px;
    margin-bottom: 0;
  }
  .thumbnails li {
    margin-left: 13%;
    margin-right: 10%;
    width: 13%;
  }
  .price {
    margin-top: 25px;
  }
  .purchase-button {
    margin-top: 10%;
  }
}











