/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}
.my-container {
  background: url('/images/product-bg.jpg');
  background-size: 100%;
  background-repeat: none;
}
.product-container {
  background-color: #111111;
  height: 900px;
  width: 65%;
  margin: auto;
  margin-top: 0px;
}
.product-container h1 {
  color: white;
  text-align: center;
  font-weight: 900;
}
.product-container h2 {
  color: white;
  text-align: center;
  font-weight: 100;
}
.product-container h3 {
  color: white;
}
.product-container p {
  color: white;
}
.product-container li {
  color: white;
  list-style-type: none;
}
.product-title {
  padding-top: 100px;
  margin-top: 0px;
}
.product-info {
  margin-top: 50px;
  padding-right: 40px;
  float: right;
}
.product-images {
  float: left;
  width: 70%;
  height: 600px;
  padding: 0px;
  margin: 0px;
}
.thumbnails li {
  margin: auto;
  display: inline-block;
  text-decoration: none;
  list-style-type: none;
}
.thumbnails ul {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 20px;
  margin-bottom: 40px;
}
.product-image {
  height: 300px;
  width: 500px;
  display: block;
  margin: auto;
}
.thumbnail-1 {
  height: 70px;
  width: 100px;
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
}
.thumbnail-2 {
  height: 70px;
  width: 100px;
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
}
.thumbnail-3 {
  height: 70px;
  width: 100px;
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
}
.thumbnail-4 {
  height: 70px;
  width: 100px;
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
}
.price {
  text-align: center;
}





/* Custom page footer */

.product-footer {
  background-color: #111111;
  font-color: white;
}
.product-footer p {
  color: white;

}
footer h1 {
  font-size: 50px;
  display: inline-block
}
footer a{
  color: #b2b2b2;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  /* ...and now for the proper property */
  transition:.5s;
  text-decoration: none;
}


@media screen and (min-width: 768px) {
  
}











