<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div id="main-header-left">
    <h1><a ui-sref="main">UNEARTHED</a></h1>
  </div>
  <div id="main-header-center">
    <ul id="responsive-menu">
      <li>
        <p><a ui-sref="category({category: 'bracelets'})">BRACELETS</a></p>
      </li>
      <li>
        <p><a ui-sref="category({category: 'rings'})">RINGS</a></p>
      </li>
      <li>
        <p><a ui-sref="category({category: 'stones'})">STONES</a></p>
      </li>
      <li>
        <p><a ui-sref="category({category: 'necklaces'})">NECKLACES</a></p>
      </li>
    </ul>
  </div>
  <div id="main-header-right" ng-controller="PurchaseModalCtrl">

    <script type="text/ng-template" id="myModalContent.html">
      <h2>So you want to buy this necklace? <i class="exit-icon fa fa-times" ng-click="ok()"></i> </h2>
      <hr>
      <p>What you need to do is call us, email us, or get on a google hangout with us.  Really just whatever you think would make it more likely for you to spend money on us.</p>
      <br>
      <p>Send a message to:</p>
      <h3><span class="emphasis">something@something.com</span><br>
        Include the product <span class="emphasis">NAME</span> and <span class="emphasis">ITEM NUMBER</span>.
      </h3>
    </script>

    <h2 class="purchase-button" ng-click="open()">PURCHASE</h2> 
  </div>
<!-- ******* Begin Mobile Nav ******* -->
  

<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
        <div class="container">
     <div class="navbar-header">
  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
</div>

<!-- Collect the nav links, forms, and other content for toggling -->
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" ng-controller="PurchaseModalCtrl">
            <ul class="nav navbar-nav">
                <li><a ui-sref="category({category: 'bracelets'})">BRACELETS</a></li>
                <li><a ui-sref="category({category: 'rings'})">RINGS</a></li>
                <li><a ui-sref="category({category: 'stones'})">STONES</a></li>
                <li><a ui-sref="category({category: 'necklaces'})">NECKLACES</a></li>
                <li><a class="collapsed-menu-purchase-btn" ng-click="open()">PURCHASE</a></li>
                <li><a ui-sref="about">ABOUT</a></li>
            </ul>
        </div>
    </nav>

<!-- ******* End Mobile Nav ********* -->
</nav>