.about-image img {
	width: 100%;
	height: auto;
}
.about-information1 {
	margin-top: 25%;
	width: 100%;
	height: 480px;
	background-color: rgba(12, 12, 12, .8);
	position: absolute;
}
.about-information2 {
	width: 40%;
	margin-left: 55%;
	margin-top: 11%;
	height: 90%;
	position: absolute;
}
.about-main-container h2 {
	line-height: 60px;
	margin-left: 5%;
	color: white;
	font-weight: 100;
	font-family: 'Raleway', sans-serif;
	letter-spacing: 1px;
	font-size: 50px;
}
.about-main-container p {
	line-height: 50px;
	color: white;
	font-weight: 100;
	font-family: 'Raleway', sans-serif;
	letter-spacing: 1px;
	font-size: 18px;
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
}
.about-information1 h2 {
	margin-top: 7%;
}
.about-information1 p {
	margin-top: 2%;
}
.about-header {
	position: absolute;
	margin-left: 28%;
	margin-right: 28%;
	width: 580px;
	margin-top: 10%;
	font-size: 50px;
}

@media screen and (max-width: 1155px){
	.about-information2 {
		width: 45%;
	}
	.about-main-container p {
		line-height: 43px;
	}
	.about-information1 {
		height: 430px;
	}
}
@media screen and (max-width: 1035px){
	.about-information2 h2 {
		margin-bottom: 1%;
	}
	.about-information1 {
		height: 322px;
	}
	.about-main-container h2 {
		font-size: 35px;
	}
	.about-main-container p {
		font-size: 15px;
		line-height: 35px;
	}
	.about-header {
		font-size: 35px;
		margin-top: 12%;
	}
}