<div ng-include="'views/components/navbar/navbar.html'"></div>

<div class="about-main-container">

	<div class="about-image">
		<h1 class="about-header">ABOUT THE DZI BEADS</h1>
		<div class="about-information1">
			<h2>HISTORY: UNEARTHED</h2>
			<p>The elegant design of these bracelets is unmatched this side of India. The elegant design of these bracelets is unmatched this side of India. The elegant design of these bracelets is unmatched this side of India. The elegant design of these bracelets is unmatched this side of India. The elegant design of these bracelets is unmatched this side of India. The elegant design of these bracelets is unmatched this side of India.</p>
		</div>
		<img src="/images/spot02_frontpage.JPG">
	</div>

	<div class="about-image">
		<div class="about-information2">
			<h2>VALUE & PRICE</h2>
			<p>The elegant design of these bracelets is unmatched this side of India. The elegant design of these bracelets is unmatched this side of India. The elegant design of these bracelets is unmatched this side of India. The elegant design of these bracelets is unmatched this side of India. The elegant design of these bracelets is unmatched this side of India.</p>
		</div>
		<img src="/images/spot2.jpg">
	</div>

</div>

<div ng-include="'views/components/footer/footer.html'"></div>
